{% extends 'base.html' %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Susikurkite vartotoja</title>
    <link rel="stylesheet" href="style.css">
    {% block main %}
  </head>
  <body>
      <h3>Susikurkite vartotoja:</h3>
      <hr></hr>
      <form action="/create_user" method= "post"><br>
            <label for="name">Vardas</label><br>
            <input type='text' name='name' placeholder="Vardas" /><br>
            <label for="surname">Pavarde</label><br>
            <input type='text' name='surname' placeholder="Pavarde" /><br>
            <label for="email">Email</label><br>
            <input type='text' name='email' placeholder="El. pastas" /><br>
            <label for="name">Tel. Nr</label><br>
            <input type='text' name='telnr' placeholder="Tel. Nr" /><br>
            <input type = "submit" value = "Sukurti" />
       </form>   
  </body>
</html>

{% endblock %}