{% extends 'base.html' %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sukurkite automobilio irasa</title>
    <link rel="stylesheet" href="style.css">
    {% block main %}
  </head>
  <body>
    <h3>Sukurkite automobilio irasa:</h3>
      <form action="/create_car" method= "post"><br>
            <label for="user_id">Vartotojo ID</label><br>
            <input type='text' name='user_id' placeholder="Vartotojo ID" /><br>
            <label for="brand">Marke</label><br>
            <input type='text' name='brand' placeholder="Marke" /><br>
            <label for="model">Modelis</label><br>
            <input type='text' name='model' placeholder="Modelis" /><br>
            <label for="year">Metai</label><br>
            <input type='text' name='year' placeholder="Metai" /><br>
            <label for="rida">Rida</label><br>
            <input type='text' name='rida' placeholder="rida" /><br>
            <label for="kuras">Kuro tipas</label><br>
            <input type='text' name='kuras' placeholder="Kuro tipas" /><br>
            <label for="kebulas">Kebulas</label><br>
            <input type='text' name='kebulas' placeholder="Kebulas" /><br>
            <label for="kaina">Kaina(€)</label><br>
            <input type='text' name='kaina' placeholder="Kaina" /><br>
            <label for="vin_code">Vin code</label><br>
            <input type='text' name='vin_code' placeholder="Vin_code" /><br>
            <input type = "submit" value = "Sukurti" />
       </form>   
  </body>
</html>

{% endblock %}

