<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
    <h2>&#127949;&#127949;&#127949;  Motociklu ir automobiliu pardavimo Meniu &#128663;&#128663;&#128663;</h2>
    <div>
      <form action="/cars_all"  form style="display:inline-block">
          <button type="submit">Automobiliai</button>
      </form>
      <form action="/moto_all" form style="display:inline-block">
          <button type="submit">Motociklai</button>
      </form>
      <form action="/users_all" form style="display:inline-block">
          <button type="submit">Rodyti Vartotojus</button>
      </form>
      <form action="/create_car" form style="display:inline-block">
          <button type="submit">Prideti Auto</button>
      </form>
      <form action="/create_moto" form style="display:inline-block">
          <button type="submit">Prideti Moto</button>
      </form>
      <form action="/create_user" form style="display:inline-block">
          <button type="submit">Prideti Vartotoja</button>
      </form>
      <form action="/home" form style="display:inline-block">
          <button type="submit">Home</button>
      </form>
  </div>
  </head>
  <body> 
  </body>
</html>