<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
    <h2>&#127949;&#127949;&#127949;  Motociklu ir automobiliu pardavimo-taisymo DB Meniu &#128663;&#128663;&#128663;</h2>
    <div>
        <form action="/cars_all"  form style="display:inline-block">
            <button type="submit">Automobiliai&#128663;</button>
        </form>
        <form action="/moto_all" form style="display:inline-block">
            <button type="submit">Motociklai &#127949;</button>
        </form>
        <form action="/users_all" form style="display:inline-block">
            <button type="submit">Vartotojai &#128099;</button>
        </form>
        <form action="/service_all" form style="display:inline-block">
            <button type="submit">Servisai &#128295;</button>
        </form>
        <form action="/create_car" form style="display:inline-block">
            <button type="submit">Prideti Auto &#128663;</button>
        </form>
        <form action="/create_moto" form style="display:inline-block">
            <button type="submit">Prideti Moto &#127949;</button>
        </form>
        <form action="/create_user" form style="display:inline-block">
            <button type="submit">Prideti Vartotoja &#128099;</button>
        </form>
        <form action="/create_service" form style="display:inline-block">
            <button type="submit">Prideti Servisa &#128295;</button>
        </form>
        <form action="/home" form style="display:inline-block">
            <button type="submit">Home &#127968;</button>
        </form>
      <p> </p>
      <div> 
          <h3>Bendra statistika:</h3>
          <p>Is viso vartotoju: {{viso}} &#128099;</p>
          <p>Is viso automobiliu: {{viso_auto}} &#128663;</p>
          <p>Is viso motociklu: {{viso_moto}} &#127949;</p>
          <p>Is viso servisu: {{viso_serv}} &#128295;</p>
      </div>
  </div>
  </head>
  <body> 
  </body>
</html>